@import './font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    & > div {
      @apply p-container py-0 font-sans font-medium;
    }
  }
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
